#welcome-panel.row.full
  .twelve.columns
    #title-panel
      %h1 Welcome to Planting Season!
  .four.columns
    #why-use-panel
      %h2 Why Use Planting Season?
      %p
        By providing an all in one service, Planting Season not only allows you to plan out your garden depending on your location, but also offers important resources from pests to local gardening stores. 
  .four.columns
    #how-to-panel
      %h2 How to Use Planting Season
      %p
        Use our interactive garden to sketch out a garden online! We will provide useful information such as companion plantings, how to reestablish your soil after a crop is harvested, when to harvest, frost alerts and so much more!  

  .four.columns
    #notifications-panel
      %h2 Still in Beta
      %p
        Planting season is coming shortly (both figuratively and literally), and we appreciate your patience as we create this amazing interface just for you!
  #button-panel

  .twelve.columns.get-started
    =link_to "Get Started Now", new_bed_path



