#welcome-panel
  #title-panel
    %h1 Welcome to Planting Season
  #why-use-panel
    %h2 Why Use Planting Season?
  #how-to-panel
    %h2 How to Use Planting Season
  #notifications-panel
    %h2 Receive Notifications
  #button-panel
    =link_to "Get Started Now", new_bed_path



