table {
  border: 4px solid black;
  width: 550px;
  height: 550px;
}
.td {
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0px 0px;
}
.square-foot {
  border: 1px solid black;
  text-align: center;
  width: 10%;
  height: 10%;
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
}

#taken-spots, #bed-id, #all-plants {
  display: none;
}

li {
  list-style: none;
}

table {
  border-collapse: collapse;
}

#bed-notes-form, #save-notes-button {
  display: none;
}
