
/* .button-green { */
/*   -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe; */
/*   -webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe; */
/*   box-shadow:inset 0px 1px 0px 0px #d9fbbe; */
/*   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52) ); */
/*   background:-moz-linear-gradient( center top, #b8e356 5%, #a5cc52 100% ); */
/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52'); */
/*   background-color:#b8e356; */
/*   -webkit-border-top-left-radius:0px; */
/*   -moz-border-radius-topleft:0px; */
/*   border-top-left-radius:0px; */
/*   -webkit-border-top-right-radius:0px; */
/*   -moz-border-radius-topright:0px; */
/*   border-top-right-radius:0px; */
/*   -webkit-border-bottom-right-radius:0px; */
/*   -moz-border-radius-bottomright:0px; */
/*   border-bottom-right-radius:0px; */
/*   -webkit-border-bottom-left-radius:0px; */
/*   -moz-border-radius-bottomleft:0px; */
/*   border-bottom-left-radius:0px; */
/*   text-indent:0; */
/*   border:1px solid #83c41a; */
/*   display:inline-block; */
/*   color:#ffffff; */
/*   font-family:Arial; */
/*   font-size:15px; */
/*   font-weight:bold; */
/*   font-style:normal; */
/*   height:40px; */
/*   line-height:40px; */
/*   width:100px; */
/*   text-decoration:none; */
/*   text-align:center; */
/*   text-shadow:1px 1px 0px #86ae47; */
/* } */

/* .button-green:hover { */
/*   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356) ); */
/*   background:-moz-linear-gradient( center top, #a5cc52 5%, #b8e356 100% ); */
/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356'); */
/*   background-color:#a5cc52; */
/* } */

/* .button-green:active { */
/*   position:relative; */
/*   top:1px; */
/* } */

/* .button-red { */
/* -moz-box-shadow:inset 0px 1px 0px 0px #f29c93; */
/*   -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93; */
/*   box-shadow:inset 0px 1px 0px 0px #f29c93; */
/*   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) ); */
/*   background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% ); */
/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100'); */
/*   background-color:#fe1a00; */
/*   -webkit-border-top-left-radius:0px; */
/*   -moz-border-radius-topleft:0px; */
/*   border-top-left-radius:0px; */
/*   -webkit-border-top-right-radius:0px; */
/*   -moz-border-radius-topright:0px; */
/*   border-top-right-radius:0px; */
/*   -webkit-border-bottom-right-radius:0px; */
/*   -moz-border-radius-bottomright:0px; */
/*   border-bottom-right-radius:0px; */
/*   -webkit-border-bottom-left-radius:0px; */
/*   -moz-border-radius-bottomleft:0px; */
/*   border-bottom-left-radius:0px; */
/*   text-indent:0; */
/*   border:1px solid #d83526; */
/*   display:inline-block; */
/*   color:#ffffff; */
/*   font-family:Arial; */
/*   font-size:15px; */
/*   font-weight:bold; */
/*   font-style:normal; */
/*   height:40px; */
/*   line-height:40px; */
/*   width:100px; */
/*   text-decoration:none; */
/*   text-align:center; */
/*   text-shadow:1px 1px 0px #b23e35; */
/* } */

/* .button-red:hover { */
/*   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) ); */
/*   background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% ); */
/*   filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00'); */
/*   background-color:#ce0100; */
/* } */
/* .button-red:active { */
/*   position:relative; */
/*   top:1px; */
/* } */

#billy {
  background: rgb(252,236,252); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(252,236,252,1) 0%, rgba(251,166,225,1) 50%, rgba(253,137,215,1) 51%, rgba(255,124,216,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,236,252,1)), color-stop(50%,rgba(251,166,225,1)), color-stop(51%,rgba(253,137,215,1)), color-stop(100%,rgba(255,124,216,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcecfc', endColorstr='#ff7cd8',GradientType=0 ); /* IE6-9 */
}
