#bed-view-panel {
  float: left;
  width: 63%;
  margin-left: 10px;
  background: #ddd;
}

#bed-info-panel {
  float: right;
  width: 35%;
  margin-right: 10px;
  background: #eee;
}


table {
  width: 100%;
}

.bed-table-row td {
  border: 1px solid black;
  height: 200px;
  padding-left: 35px;
}

#bed-info-title {
  text-align: left;
}

#navbar {
  width: 100%;
}

#navbar h1 {
  margin-left: 10px;
  display: inline;
}

#navbar-list {
  display: inline;
  margin-left: 50%;
}

#navbar-list li {
  display: inline;
  text-align: right;
}
