#bed-functions
  %ul.actions
    %li#info
      Bed Info
    %li#actions
      Plant Actions
    %li#new-plant
      New Plant
  #content
    = render :partial => "beds/bed_information"
    = render :partial => "beds/plant_actions"
    = render :partial => "beds/new_plant"
