#bed-functions
  .bed-actions
    %ul.actions
      %li{:class => "bed-info action active", :id => "info"}
        Bed Info
      %li{:class => "bed-actions action", :id => "actions"}
        Plant Actions
      %li{:class => "bed-new-plant action", :id => "new-plant"}
        New Plant
  .bed-content
    = render :partial => "beds/bed_information"
    = render :partial => "beds/plant_actions"
    = render :partial => "beds/new_plant"
