.bed-information
  %h4 Name:
  = @bed['name']
  %h4 Notes:
  %p{:id => "loaded-notes"}
    = @bed['notes']
  %button{:id => "edit-notes-button"} Edit Notes
  %textarea{:id => "bed-notes-form"}
  %button{:id => "save-notes-button"} Save Notes


