.plant-actions
  #planting-details
  .plant-c2a
    %a.button.harvest{:href => "#", :id => "harvest-button"}
      Harvest
    %a.button.remove{:href => "#", :id => "delete-planting-button"}
      Remove Plant
