%body
  #body-content
    #bed-grid-panel
      %h2 Viewing Your Bed
      %table
        %tbody
          - @width.times do
            %tr
              - @depth.times do
                %td{:class => "square-foot"}
                  askdaksdj
      = render 'layouts/bed_view_form'

    #bed-function-panel
      = render :partial => "./welcome/bed_functions"
      = render :partial => "./welcome/bed_content_tabs"


