%body
  #body-content
    #bed-grid-panel
      %h2 Viewing Your Bed
      %table 
        %tbody
          %tr
            %td a
            %td b
            %td c

          %tr
            %td a
            %td b
            %td c

          %tr
            %td a
            %td b
            %td c
    #bed-function-panel
      = render :partial => "./welcome/bed_functions"
      = render :partial => "./welcome/bed_content_tabs"
      

  
