%body
  #bed-functions
    %h1 Tabs
    %ul
      %li#info
        %a{href: "#"} Bed Info
      %li#actions
        %a{href: "#"} Plant Actions
      %li#new-plant
        %a{href: "#"} New Plant
  #content
    = render :partial => "./layouts/bed_information"
    = render :partial => "./layouts/plant_actions"
    = render :partial => "./layouts/new_plant"

  
