#bed-view-panel
  %h2
    =@bed['name']
  %table
    %th
    %tb
      -@depth.times do
        %tr{:class => "bed-table-row"}
        -@width.times do
          %td
            %img{:src => "http://www.placekitten.com/200/200"}
  = render partial: 'layouts/bed_view_form'