#bed-info-panel
  %h2{:id => "bed-info-title"} Bed Info:
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
