#bed-view-panel
  %h2
    =@bed
  %table
    %th
    %tb
      %tr{:class => "bed-table-row"}
        %td hello
        %td world
        %td what's
      %tr{:class => "bed-table-row"}
        %td going
        %td on
        %td fools
