#bed-info-panel

  %h2{:id => "bed-info-title"}
    =@bed["name"] + " Info"
  %p= "Notes: #{@bed['notes']}"
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
  %p some things
