%nav.header.six.columns
  %ul
    %li
      %a.my-gardens{href: "/dashboard/beds"}
        My Gardens
    - unless request.path == "/dashboard/beds/new"
      %li
        %a.new-garden{href: "/dashboard/beds/new"}
          New Garden
    - if @bed.kind_of?(Hash)
      %li
        %a.notifications{href: "#"}
          Notifications
    %li.user.parent
      %span
        = cookies[:username]
      %ul.children
        /%li.child
        /  %a{href: "#"}
        /    Settings
        %li.child
          %a{href: "/dashboard/logout"}
            Logout
