%nav.header.six.columns
  %ul
    %li
      %a.my-gardens{href: "/dashboard/beds"}
        My Gardens
    %li
      %a.notifications{href: "#"}
        Notifications
    %li.user.parent
      %span Tyler Long
      %ul.children
        %li.child
          %a{href: "#"}
            Settings
        %li.child
          %a{href: "#"}
            Logout
