#navbar
  #site-logo
    %h1 Planting Season
  #nav-links
    %ul
      %li
        %a{:href => "#"}
          Notifications 
        \- 
      %li 
        %a{:href => "#"}
          Beds
        \- 
      %li 
        %a{:href => "#"}
          Profile
        \-
      %li 
        %a{:href => "#"}
          Logout

%hr      

